/.idea/modules/Amazing Numbers/task/Amazing_Numbers.Amazing_Numbers-task.iml
/.idea/modules/Amazing Numbers/task/Amazing_Numbers.Amazing_Numbers-task.main.iml
/.idea/modules/Amazing Numbers/task/Amazing_Numbers.Amazing_Numbers-task.test.iml
/.idea/modules/Amazing_Numbers.iml
/.idea/modules/util/Amazing_Numbers.util.iml
/.idea/modules/util/Amazing_Numbers.util.main.iml
/.idea/modules/util/Amazing_Numbers.util.test.iml
/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/Amazing Numbers/task/test/BuzzChecker.java
/.gradle/buildOutputCleanup/cache.properties
/Amazing Numbers/task/test/util/Checker.java
/.gradle/checksums/checksums.lock
/.idea/compiler.xml
/course-info.yaml
/course-remote-info.yaml
/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.1.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.1/executionHistory/executionHistory.bin
/.gradle/7.1.1/executionHistory/executionHistory.bin
/.gradle/7.1/executionHistory/executionHistory.lock
/.gradle/7.1.1/executionHistory/executionHistory.lock
/.idea/externalDependencies.xml
/.gradle/7.1/fileHashes/fileHashes.bin
/.gradle/7.1.1/fileHashes/fileHashes.bin
/.gradle/7.1/fileHashes/fileHashes.lock
/.gradle/7.1.1/fileHashes/fileHashes.lock
/.gradle/7.1/dependencies-accessors/gc.properties
/.gradle/7.1/gc.properties
/.gradle/7.1.1/dependencies-accessors/gc.properties
/.gradle/7.1.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/libraries/Gradle__com_github_hyperskill_hs_test_release_SNAPSHOT.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5.xml
/.idea/libraries/Gradle__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_9.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_11.xml
/.idea/libraries/Gradle__org_assertj_assertj_core_3_11_1.xml
/.idea/libraries/Gradle__org_assertj_assertj_swing_3_9_2.xml
/.idea/libraries/Gradle__org_assertj_assertj_swing_junit_3_9_2.xml
/.idea/libraries/Gradle__org_easytesting_fest_reflect_1_4_1.xml
/.idea/libraries/Gradle__org_easytesting_fest_util_1_2_5.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/gradlew
/gradlew.bat
/.idea/jarRepositories.xml
/.gradle/7.1/fileChanges/last-build.bin
/.gradle/7.1.1/fileChanges/last-build.bin
/Amazing Numbers/lesson-info.yaml
/Amazing Numbers/task/test/util/LinesChecker.java
/.gradle/checksums/md5-checksums.bin
/.idea/misc.xml
/.idea/modules.xml
/Amazing Numbers/task/test/NumbersTest.java
/.gradle/buildOutputCleanup/outputFiles.bin
/Amazing Numbers/task/test/util/RegexChecker.java
/.idea/runConfigurations.xml
/settings.gradle
/.gradle/checksums/sha1-checksums.bin
/.idea/frameworkLessonHistory/storage.storageData
/.idea/frameworkLessonHistory/storage.storageRecordIndex
/Amazing Numbers/Buzz numbers/task.html
/Amazing Numbers/Duck numbers/task.html
/Amazing Numbers/Gapful numbers/task.html
/Amazing Numbers/Happy and Sad numbers/task.html
/Amazing Numbers/Jumping numbers/task.html
/Amazing Numbers/Palindromic numbers/task.html
/Amazing Numbers/Spy numbers/task.html
/Amazing Numbers/Sunny and Square numbers/task.html
/Amazing Numbers/Buzz numbers/task-info.yaml
/Amazing Numbers/Duck numbers/task-info.yaml
/Amazing Numbers/Gapful numbers/task-info.yaml
/Amazing Numbers/Happy and Sad numbers/task-info.yaml
/Amazing Numbers/Jumping numbers/task-info.yaml
/Amazing Numbers/Palindromic numbers/task-info.yaml
/Amazing Numbers/Spy numbers/task-info.yaml
/Amazing Numbers/Sunny and Square numbers/task-info.yaml
/Amazing Numbers/Buzz numbers/task-remote-info.yaml
/Amazing Numbers/Duck numbers/task-remote-info.yaml
/Amazing Numbers/Gapful numbers/task-remote-info.yaml
/Amazing Numbers/Happy and Sad numbers/task-remote-info.yaml
/Amazing Numbers/Jumping numbers/task-remote-info.yaml
/Amazing Numbers/Palindromic numbers/task-remote-info.yaml
/Amazing Numbers/Spy numbers/task-remote-info.yaml
/Amazing Numbers/Sunny and Square numbers/task-remote-info.yaml
/Amazing Numbers/task/test/util/TextChecker.java
/Amazing Numbers/task/test/util/UserProgram.java
/.idea/vcs.xml
/.idea/.gitignore
/Amazing Numbers/task/build/reports/tests/test/css/base-style.css
/Amazing Numbers/task/build/classes/java/test/BuzzChecker.class
/Amazing Numbers/task/build/classes/java/test/util/Checker.class
/Amazing Numbers/task/build/reports/tests/test/index.html
/Amazing Numbers/task/build/tmp/test/jar_extract_3535196596778317257_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6125280842212693193_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10377314448464510294_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11003145028233967238_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12060540078588856668_tmp
/Amazing Numbers/task/build/classes/java/test/util/LinesChecker.class
/Amazing Numbers/task/build/classes/java/main/numbers/Main.class
/Amazing Numbers/task/build/classes/java/main/numbers/request/NumberAnalyzer.class
/Amazing Numbers/task/build/classes/java/test/util/NumberAnalyzerTest.class
/Amazing Numbers/task/build/classes/java/main/numbers/request/NumberGetter.class
/Amazing Numbers/task/build/classes/java/test/NumbersTest.class
/Amazing Numbers/task/build/test-results/test/binary/output.bin
/Amazing Numbers/task/build/test-results/test/binary/output.bin.idx
/Amazing Numbers/task/build/tmp/compileJava/previous-compilation-data.bin
/Amazing Numbers/task/build/tmp/compileTestJava/previous-compilation-data.bin
/Amazing Numbers/task/build/classes/java/test/util/RegexChecker.class
/Amazing Numbers/task/build/reports/tests/test/js/report.js
/.gradle/7.1.1/fileHashes/resourceHashesCache.bin
/Amazing Numbers/task/build/test-results/test/binary/results.bin
/Amazing Numbers/task/build/reports/tests/test/css/style.css
/Amazing Numbers/task/build/test-results/test/TEST-util.NumberAnalyzerTest.xml
/Amazing Numbers/task/build/classes/java/test/util/TextChecker.class
/Amazing Numbers/task/build/classes/java/test/util/UserProgram.class
/Amazing Numbers/task/build/reports/tests/test/packages/util.html
/Amazing Numbers/task/build/reports/tests/test/classes/util.NumberAnalyzerTest.html
/Amazing Numbers/task/src/numbers/display/InforationDisplay.java
/Amazing Numbers/task/build/tmp/test/jar_extract_2908073344585676581_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_9248371957823094810_tmp
/.idea/uiDesigner.xml
/Amazing Numbers/task/build/reports/tests/test/packages/default-package.html
/Amazing Numbers/task/build/tmp/test/jar_extract_2477772875187128318_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6846627245567013586_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14264860621424129848_tmp
/Amazing Numbers/task/out/production/classes/numbers/Main.class
/Amazing Numbers/task/out/production/classes/numbers/request/NumberAnalyzer.class
/Amazing Numbers/task/out/production/classes/numbers/request/NumberGetter.class
/Amazing Numbers/task/build/reports/tests/test/classes/NumbersTest.html
/Amazing Numbers/task/build/test-results/test/TEST-NumbersTest.xml
/Amazing Numbers/task/build/tmp/test/jar_extract_3373097006445309592_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5718732372473528627_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_9096257247103264222_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10098206669371771649_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10123312167994421996_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10248325800185832141_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11135563367158132248_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11690372020123936100_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13776065390138950464_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14793189188254506102_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_17116351318783613292_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_17344551101005230103_tmp
/Amazing Numbers/task/build/classes/java/test/NumberProperty.class
/Amazing Numbers/task/build/classes/java/test/PropertiesChecker.class
/Amazing Numbers/task/out/production/classes/numbers/display/PropertiesDisplay.class
/Amazing Numbers/task/build/tmp/test/jar_extract_7372392136194589378_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10555465153362819137_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15426249985796251726_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16060280945775776065_tmp
/Amazing Numbers/task/build/classes/java/main/numbers/display/PropertiesDisplay.class
/Amazing Numbers/task/build/tmp/test/jar_extract_415412620551749679_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_505539235381491190_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2351260815954608026_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3610144247793630570_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5589427644471482742_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7417321393106638468_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11314129152424278512_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11709391761755233188_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11811299660422803441_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12425012930977815264_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_132791258337709699_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5225484909712170523_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7510034199542781836_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14850133981855582770_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15193700605894472138_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15323583534539431169_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16882316491815702318_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2551619587528987593_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5763466702409262499_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10963305540951445432_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13083339276969103326_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13471195765841122436_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15202517123855622562_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_1562376170544165686_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2889844607658318011_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3124201413258932968_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5033071393355151367_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6300208701811867580_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6979251912992120434_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7935594216567211953_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_8589522162703087951_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10472434612492848144_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11551731722410676547_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12438323558338864362_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12518107211848583481_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16072820501818183341_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16434136937821022137_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6306713510742122781_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16943442618980602633_tmp
/Amazing Numbers/task/test/ListChecker.java
/Amazing Numbers/task/test/Request.java
