/.idea/modules/Amazing Numbers/task/Amazing_Numbers.Amazing_Numbers-task.iml
/.idea/modules/Amazing Numbers/task/Amazing_Numbers.Amazing_Numbers-task.main.iml
/.idea/modules/Amazing Numbers/task/Amazing_Numbers.Amazing_Numbers-task.test.iml
/.idea/modules/Amazing_Numbers.iml
/.idea/modules/util/Amazing_Numbers.util.iml
/.idea/modules/util/Amazing_Numbers.util.main.iml
/.idea/modules/util/Amazing_Numbers.util.test.iml
/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/Amazing Numbers/task/test/BuzzChecker.java
/.gradle/buildOutputCleanup/cache.properties
/Amazing Numbers/task/test/util/Checker.java
/.gradle/checksums/checksums.lock
/.idea/compiler.xml
/course-info.yaml
/course-remote-info.yaml
/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.1.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.1/executionHistory/executionHistory.bin
/.gradle/7.1.1/executionHistory/executionHistory.bin
/.gradle/7.1/executionHistory/executionHistory.lock
/.gradle/7.1.1/executionHistory/executionHistory.lock
/.idea/externalDependencies.xml
/.gradle/7.1/fileHashes/fileHashes.bin
/.gradle/7.1.1/fileHashes/fileHashes.bin
/.gradle/7.1/fileHashes/fileHashes.lock
/.gradle/7.1.1/fileHashes/fileHashes.lock
/.gradle/7.1/dependencies-accessors/gc.properties
/.gradle/7.1/gc.properties
/.gradle/7.1.1/dependencies-accessors/gc.properties
/.gradle/7.1.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/libraries/Gradle__com_github_hyperskill_hs_test_release_SNAPSHOT.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5.xml
/.idea/libraries/Gradle__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_9.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_11.xml
/.idea/libraries/Gradle__org_assertj_assertj_core_3_11_1.xml
/.idea/libraries/Gradle__org_assertj_assertj_swing_3_9_2.xml
/.idea/libraries/Gradle__org_assertj_assertj_swing_junit_3_9_2.xml
/.idea/libraries/Gradle__org_easytesting_fest_reflect_1_4_1.xml
/.idea/libraries/Gradle__org_easytesting_fest_util_1_2_5.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/gradlew
/gradlew.bat
/.idea/jarRepositories.xml
/.gradle/7.1/fileChanges/last-build.bin
/.gradle/7.1.1/fileChanges/last-build.bin
/Amazing Numbers/lesson-info.yaml
/Amazing Numbers/task/test/util/LinesChecker.java
/.gradle/checksums/md5-checksums.bin
/.idea/misc.xml
/.idea/modules.xml
/Amazing Numbers/task/test/NumbersTest.java
/.gradle/buildOutputCleanup/outputFiles.bin
/Amazing Numbers/task/test/util/RegexChecker.java
/.idea/runConfigurations.xml
/settings.gradle
/.gradle/checksums/sha1-checksums.bin
/.idea/frameworkLessonHistory/storage.storageData
/.idea/frameworkLessonHistory/storage.storageRecordIndex
/Amazing Numbers/Buzz numbers/task.html
/Amazing Numbers/Duck numbers/task.html
/Amazing Numbers/Gapful numbers/task.html
/Amazing Numbers/Happy and Sad numbers/task.html
/Amazing Numbers/Jumping numbers/task.html
/Amazing Numbers/Palindromic numbers/task.html
/Amazing Numbers/Spy numbers/task.html
/Amazing Numbers/Sunny and Square numbers/task.html
/Amazing Numbers/Buzz numbers/task-info.yaml
/Amazing Numbers/Duck numbers/task-info.yaml
/Amazing Numbers/Gapful numbers/task-info.yaml
/Amazing Numbers/Happy and Sad numbers/task-info.yaml
/Amazing Numbers/Jumping numbers/task-info.yaml
/Amazing Numbers/Palindromic numbers/task-info.yaml
/Amazing Numbers/Spy numbers/task-info.yaml
/Amazing Numbers/Sunny and Square numbers/task-info.yaml
/Amazing Numbers/Buzz numbers/task-remote-info.yaml
/Amazing Numbers/Duck numbers/task-remote-info.yaml
/Amazing Numbers/Gapful numbers/task-remote-info.yaml
/Amazing Numbers/Happy and Sad numbers/task-remote-info.yaml
/Amazing Numbers/Jumping numbers/task-remote-info.yaml
/Amazing Numbers/Palindromic numbers/task-remote-info.yaml
/Amazing Numbers/Spy numbers/task-remote-info.yaml
/Amazing Numbers/Sunny and Square numbers/task-remote-info.yaml
/Amazing Numbers/task/test/util/TextChecker.java
/Amazing Numbers/task/test/util/UserProgram.java
/.idea/vcs.xml
/.idea/.gitignore
/Amazing Numbers/task/build/reports/tests/test/css/base-style.css
/Amazing Numbers/task/build/classes/java/test/BuzzChecker.class
/Amazing Numbers/task/build/classes/java/test/util/Checker.class
/Amazing Numbers/task/build/reports/tests/test/index.html
/Amazing Numbers/task/build/tmp/test/jar_extract_3535196596778317257_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6125280842212693193_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10377314448464510294_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11003145028233967238_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12060540078588856668_tmp
/Amazing Numbers/task/build/classes/java/test/util/LinesChecker.class
/Amazing Numbers/task/build/classes/java/main/numbers/Main.class
/Amazing Numbers/task/build/classes/java/main/numbers/request/NumberAnalyzer.class
/Amazing Numbers/task/build/classes/java/test/util/NumberAnalyzerTest.class
/Amazing Numbers/task/build/classes/java/main/numbers/request/NumberGetter.class
/Amazing Numbers/task/build/classes/java/test/NumbersTest.class
/Amazing Numbers/task/build/test-results/test/binary/output.bin
/Amazing Numbers/task/build/test-results/test/binary/output.bin.idx
/Amazing Numbers/task/build/tmp/compileJava/previous-compilation-data.bin
/Amazing Numbers/task/build/tmp/compileTestJava/previous-compilation-data.bin
/Amazing Numbers/task/build/classes/java/test/util/RegexChecker.class
/Amazing Numbers/task/build/reports/tests/test/js/report.js
/.gradle/7.1.1/fileHashes/resourceHashesCache.bin
/Amazing Numbers/task/build/test-results/test/binary/results.bin
/Amazing Numbers/task/build/reports/tests/test/css/style.css
/Amazing Numbers/task/build/test-results/test/TEST-util.NumberAnalyzerTest.xml
/Amazing Numbers/task/build/classes/java/test/util/TextChecker.class
/Amazing Numbers/task/build/classes/java/test/util/UserProgram.class
/Amazing Numbers/task/build/reports/tests/test/packages/util.html
/Amazing Numbers/task/build/reports/tests/test/classes/util.NumberAnalyzerTest.html
/Amazing Numbers/task/src/numbers/display/InforationDisplay.java
/Amazing Numbers/task/build/tmp/test/jar_extract_2908073344585676581_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_9248371957823094810_tmp
/.idea/uiDesigner.xml
/Amazing Numbers/task/build/reports/tests/test/packages/default-package.html
/Amazing Numbers/task/build/tmp/test/jar_extract_2477772875187128318_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6846627245567013586_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14264860621424129848_tmp
/Amazing Numbers/task/out/production/classes/numbers/Main.class
/Amazing Numbers/task/out/production/classes/numbers/request/NumberAnalyzer.class
/Amazing Numbers/task/out/production/classes/numbers/request/NumberGetter.class
/Amazing Numbers/task/build/reports/tests/test/classes/NumbersTest.html
/Amazing Numbers/task/build/test-results/test/TEST-NumbersTest.xml
/Amazing Numbers/task/build/tmp/test/jar_extract_3373097006445309592_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5718732372473528627_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_9096257247103264222_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10098206669371771649_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10123312167994421996_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10248325800185832141_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11135563367158132248_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11690372020123936100_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13776065390138950464_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14793189188254506102_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_17116351318783613292_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_17344551101005230103_tmp
/Amazing Numbers/task/build/classes/java/test/NumberProperty.class
/Amazing Numbers/task/build/classes/java/test/PropertiesChecker.class
/Amazing Numbers/task/out/production/classes/numbers/display/PropertiesDisplay.class
/Amazing Numbers/task/build/tmp/test/jar_extract_7372392136194589378_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10555465153362819137_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15426249985796251726_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16060280945775776065_tmp
/Amazing Numbers/task/build/classes/java/main/numbers/display/PropertiesDisplay.class
/Amazing Numbers/task/build/tmp/test/jar_extract_415412620551749679_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_505539235381491190_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2351260815954608026_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3610144247793630570_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5589427644471482742_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7417321393106638468_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11314129152424278512_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11709391761755233188_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11811299660422803441_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12425012930977815264_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_132791258337709699_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5225484909712170523_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7510034199542781836_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14850133981855582770_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15193700605894472138_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15323583534539431169_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16882316491815702318_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2551619587528987593_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5763466702409262499_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10963305540951445432_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13083339276969103326_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13471195765841122436_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15202517123855622562_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_1562376170544165686_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2889844607658318011_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3124201413258932968_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5033071393355151367_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6300208701811867580_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6979251912992120434_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7935594216567211953_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_8589522162703087951_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10472434612492848144_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11551731722410676547_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12438323558338864362_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12518107211848583481_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16072820501818183341_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16434136937821022137_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6306713510742122781_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16943442618980602633_tmp
/Amazing Numbers/task/test/ListChecker.java
/Amazing Numbers/task/test/Request.java
/Amazing Numbers/task/build/tmp/test/jar_extract_788811172846237295_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_1068327043011620824_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2835425081855401140_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3538568494308432298_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_4361252823487948915_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_4589829635972404045_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5477741340157712058_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6841372502522185528_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6870804262497848286_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10056888344963691116_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10677531255093009071_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11887032421078261180_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13319812422345056890_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13964334116253301904_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16037959190268391636_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16102373355871243003_tmp
/Amazing Numbers/task/build/classes/java/test/ListChecker.class
/Amazing Numbers/task/build/classes/java/test/Request$Parameter.class
/Amazing Numbers/task/build/classes/java/test/Request.class
/Amazing Numbers/task/build/classes/java/main/numbers/request/Input.class
/Amazing Numbers/task/build/classes/java/main/numbers/request/InputAnalyzer.class
/Amazing Numbers/task/out/production/classes/numbers/request/InputAnalyzer.class
/Amazing Numbers/task/build/classes/java/test/util/InputAnalyzerTest.class
/Amazing Numbers/task/build/tmp/test/jar_extract_7714693064618812952_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_8018454316700173948_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_9253728114618638842_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14988498203024541138_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16294204320444551389_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16520264905930006537_tmp
/Amazing Numbers/task/build/classes/java/main/numbers/number/NumberAnalyzer.class
/Amazing Numbers/task/out/production/classes/numbers/number/NumberAnalyzer.class
/Amazing Numbers/task/build/test-results/test/TEST-util.InputAnalyzerTest.xml
/Amazing Numbers/task/build/reports/tests/test/classes/util.InputAnalyzerTest.html
/Amazing Numbers/task/build/tmp/test/jar_extract_816322218768941997_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_1745805708714739168_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_1779583658525581007_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3110647437834225502_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3822732355681385145_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_4411533488893280217_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_4946899616796181539_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5214562603729373349_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5801346449480365051_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_6270259771172494228_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7091017147926218984_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7107156911233468633_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7680646203529815743_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7737863079460748315_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7930836598033339958_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_8388088159342661701_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_9316259338148221744_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_9977896001659801268_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10147289469773994374_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10327019395849653734_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11012134295689011910_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12137515531112508632_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12939731291367611681_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13009865903353418221_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13484115596376504214_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14277435285043214638_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14705216481592434513_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14787641465005009314_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16501564889564133137_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_17130246562253507350_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_17328593691879794869_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_17612699451127706093_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_17709990862114328115_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_17892336765525370755_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_18043293006859923598_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_18046882427543431324_tmp
/Amazing Numbers/task/build/classes/java/main/numbers/request/InputGetter.class
/Amazing Numbers/task/out/production/classes/numbers/request/InputGetter.class
/Amazing Numbers/task/build/classes/java/test/util/InputGetterTest.class
/Amazing Numbers/task/build/tmp/test/jar_extract_180201187471284353_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_549599264487517017_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_954064371757451330_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_1554570167936653508_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_1623733162220701474_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_1728031769636921605_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_1922999140260394074_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2229772370968137958_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2267119947845602907_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2320110671488205333_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2468271584604672820_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2626061622837005590_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_2963238748188312246_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3060008635280806518_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3092239564465776929_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3144640181146189460_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3184620021710793899_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3222502644352631754_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3391230534848951883_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_3959975192923361772_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_4180678043307888681_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_4255873260787849317_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_4651820615140921349_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5889082000447641822_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_5999769268695395746_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7065125944899036274_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7122389001583026168_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7212829876172475063_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7404439496361057756_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7425050202805350204_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7621242858545677746_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_7830069781031465179_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_8730241169613240186_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_8749499983778734650_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_8775750201987961694_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_9278982253490963512_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_9615959957810618435_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10291448500862204015_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10445207050392339413_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_10871132180849326654_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11071095265407695019_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11208572171619374322_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11232466073817660613_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11304333921372859797_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11496290553068590732_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11544860583386186411_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11576287236492647071_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_11864310653903699358_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12020368505755958655_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12118517737229020776_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12791668978854531438_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_12831149200205570465_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13700692531361980883_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13737254755370333838_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_13886750068675499959_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14020731708419559639_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14214844935109101050_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14342254427897320311_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_14613059067853674663_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15076953482150051669_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15159955770644606198_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15325799525091319085_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15362552342985760140_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15441099036067777976_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_15493730574727397052_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16421200182495078376_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16622084575960245201_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16629506115406364608_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_16671483290077774089_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_17215174595700114386_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_17321217547723216392_tmp
/Amazing Numbers/task/build/tmp/test/jar_extract_17712992094843039471_tmp
/Amazing Numbers/task/build/classes/java/main/numbers/display/MultiNumDisplay.class
/Amazing Numbers/task/build/classes/java/main/numbers/display/SingleNumDisplay.class
/Amazing Numbers/task/build/test-results/test/TEST-util.InputGetterTest.xml
/Amazing Numbers/task/build/reports/tests/test/classes/util.InputGetterTest.html
